<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating Recommendations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark">
    <div class="p-3 text-white">
        <div class="row">
            <div class="col-6">
                <form method="post">
                    <div class="form-group">
                        <label for="sel2">Choose a metric</label>
                        <select class="form-control" id="sel2" name="selected_metric">
                            <option>cosine</option>
                            <option>euclidean</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Choose a Lady</label>
                        <select class="form-control" id="sel1" name="selectedLadyID">
                            {% for ladyID in list_ladies %}
                            <option>{{ ladyID }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" class="btn btn-light" value="Make a Recommendation"/>
                </form>
            </div>
            <div class="col-6">
                {% if selectedLadyData is defined %}
                <h2>Lady Chosen:</h2>
                <p>{{ selectedLadyID }}</p>
                <p>{{ choseProfile }}</p>
                {% endif %}
            </div>
        </div>
        {% if similarLadies is defined %}
        <h2>Here are your suggestions:</h2>
        <div class="row">
            {% for similarLady, similarProfile in similarData %}
            <div class="col-2 justify-content-center">
                <h3>{{similarLady}}</h3>
                <p>{{ similarProfile }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</body>
</html>